{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Datastar Hello</title>
    <base href="/" />
	<meta name="description" content="gotta start somewhere">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar@0.19.4/dist/datastar.min.js" defer type="module"></script>
    <script>
        document.addEventListener('htmx:sendError', function(event) {
            alert('Unexpected error, please try again.');
        });

        document.addEventListener('htmx:responseError', function(event) {
            alert('Unexpected error, please try again.');
        });
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #36393F;
            color: #fff;
        }

        h1 {
            color: #fa16b2;
        }

        h2 {
            color: #b4b4b4;
        }

        .no-select {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    </style>
  </head>
  <body>
    <main class="container" id="main" data-store='{ "input": "", show: false }'>
       <input type="text" placeholder="Type here!" data-model="input" />
       <div data-text="$input"></div>
       <div id="output">to replace</div>
       <button data-on-click="$$put('/put')">Send State</button>
       <button data-on-click="$show=!$show">Toggle</button>
       <div data-show="$show">
         <span>Hello From Datastar!</span>
       </div>
       <button data-on-click="$$get('/get')">Get Backend State</button>
       <div id="output2"></div>
       <div id="output3"></div>
       <div>
         <span>Feed from server: </span>
         <span id="feed" data-on-load="$$get('/feed')"></span>
       </div>
    </main>
  </body>
</html>
{{ end }}
